{% if obj.user and obj.user.is_active %}
<div>
<a href="{% url 'admin:accounts_peddleuser_change' obj.user_id %}">
    <span class="badge bg-warning me-1 mb-1">Has password login</span></a>
</div>
{% endif %}

{% if obj.active %}
<div>
<span class="badge bg-success me-1 mb-1">Active</span>
{% if obj.has_deputy_account %}<span class="badge bg-info me-1 mb-1">In Deputy</span>{% endif %}
</div>
<div>
{% if obj.rider_class %}
{% if obj.is_core_rider %}<span class="badge bg-danger me-1 mb-1">Core Rider</span>{% endif %}
<span class="badge bg-primary me-1 mb-1">{{ obj.rider_class_label }}</span>
{% endif %}
{% else %}
<span class="badge bg-secondary me-1 mb-1">Not a rider</span>
{% endif %}
</div>
