{% extends 'base.html' %}
{% load static %}

{% block title %}Rider profile{% endblock %}
{% block profilemsg %}{% endblock %}

{% block page_content %}
<div class="form-container">
    <img src="{% static 'img/peddle-logo.png' %}" alt="Peddle logo">
</div>
<div class="row g-3 justify-content-center">
<div class="col-md-8 col-lg-6 col-xl-6 row g-3">
    <h1>Rider Profile</h1>

    {% if not request.person.email_verified %}
    <div class="card text-white bg-danger">
        <div class="card-body">
            <h5 class="card-title">Verify your email!</h5>
            <div class="card-text">Please use <a href="{% url 'rider_migrate_begin' %}">this link</a> to verify your email address.</div>
        </div>
    </div>
    {% elif not request.person.profile_complete %}
    <div class="card text-white bg-danger">
        <div class="card-body">
            <h5 class="card-title">Complete your profile</h5>
            <div class="card-text">
                Please make sure you have filled out your profile and provided us with your ABN and bank details.
            </div>
        </div>
    </div>
    {% endif %}
    <div class="mt-3 mb-0">
        <span class="fs-4 fw-bold">Personal details</span>
        {% if not request.person.has_deputy_account %}
        <a class="btn btn-primary m-2 mt-0 ms-3" href="{% url 'rider_edit_profile' %}">Edit</a>
        {% endif %}
    </div>
    {% if request.person.has_deputy_account %}
    <p class="form-text">Your details are linked to your Deputy account. Please edit them in the Deputy app.</p>
    {% endif %}
    <div class="col-sm-12 col-md-4">
        <p class="form-text">Display name</p>
        <p><b>{{ request.person.display_name }}</b></p>
    </div>
    <div class="col-sm-6 col-md-4">
        <p class="form-text">First name</p>
        <p>{{ request.person.first_name }}</p>
    </div>
    <div class="col-sm-6 col-md-4">
        <p class="form-text">Last name</p>
        <p>{{ request.person.last_name }}</p>
    </div>

    <div class="col-md-6 col-12">
        <p class="form-text">Email address{% if not request.person.user %} (for login){% endif %}</p>
        <p>{{ request.person.email }}
            {% if request.person.email_verified %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="Verified"/>
            {% else %}<img src="{% static 'admin/img/icon-no.svg' %}" alt="Not verified"/>{% endif %}
        </p>
    </div>
    <div class="col-md-6 col-12">
        <p class="form-text">Phone number</p>
        <p>{% if request.person.phone_valid %}{{ request.person.phone }}&nbsp;<img src="{% static 'admin/img/icon-yes.svg' %}" alt="OK"/>
        {% else %}Not provided&nbsp;<img src="{% static 'admin/img/icon-no.svg' %}" alt="no"/>{% endif %}</p>
    </div>

    <div class="mt-4 mb-0">
        <span class="fs-4 fw-bold">Payment info</span>
        <a class="btn btn-primary m-2 mt-0 ms-3" href="{% url 'rider_edit_payroll' %}">Edit</a>
    </div>
    <div class="col-md-6 col-12">
        <p class="form-text">ABN</p>
        <p>{% if request.person.abn_valid %}
            {{ request.person.abn }}&nbsp;<img src="{% static 'admin/img/icon-yes.svg' %}" alt="OK"/>
            {% else %}Not provided&nbsp;<img src="{% static 'admin/img/icon-no.svg' %}" alt="no"/>{% endif %}</p>
    </div>
    <div class="col-12">
        <p class="form-text">Bank details</p>
        <p>{% if request.person.bank_details_valid %}
            {{ request.person.bank_details_text }}&nbsp;<img src="{% static 'admin/img/icon-yes.svg' %}" alt="Yes"/>
            {% else %}Not provided&nbsp;<img src="{% static 'admin/img/icon-no.svg' %}" alt="no"/>{% endif %}</p>
    </div>

    <div class="mt-3 mb-0">
        <span class="fs-4 fw-bold">Rider info</span>
    </div>
    <div class="col-md-4 col-sm-6">
        <p class="form-text">Rider level</p>
        <p>{{ request.person.rider_class_label }}</p>
    </div>
    <div class="col-md-4 col-sm-6">
        <p class="form-text">Hourly rate</p>
        <p>${{ request.person.pay_rate }}</p>
    </div>
    <div class="col-md-4 col-sm-6">
        <p class="form-text">Core rider</p>
        <p>
            {% if request.person.is_core_rider%}Yes&nbsp;<img src="{% static 'admin/img/icon-yes.svg' %}" alt="Yes"/>
            {% else %}No{% endif %}
        </p>
    </div>
</div>
</div>
{% endblock %}