{% extends 'base.html' %}
{% load static %}

{% block title %}Peddle account setup{% endblock %}

{% block page_content %}
<div class="form-container">
    <img src="{% static 'img/peddle-logo.png' %}" alt="Peddle logo">
</div>
<div class="row g-3 justify-content-center">
<form method="post" class="col-md-8 col-lg-6 col-xl-6 row g-3" novalidate>
    <h1>Confirm your details</h1>
    <p>Let's quickly check that your details are correct.</p>
    {% csrf_token %}
    {% if form_errors %}<div class="invalid-feedback">{{ form_errors }}</div>{% endif %}
    
    <div class="row">
        <div class="col-md-6">
            {% with form.first_name as field %}{% include 'form_field.html' %}{% endwith %}
        </div>
        <div class="col-md-6">
            {% with form.last_name as field %}{% include 'form_field.html' %}{% endwith %}
        </div>
        <div class="col-12 mt-3">
            {% with form.email as field %}{% include 'form_field.html' %}{% endwith %}
        </div>
    </div>

    <div class="col text-end">
        <input class="btn btn-primary my-3" type="submit" name="submit" value="Next">
    </div>
</form>
</div>
{% endblock %}