{% extends 'base.html' %}
{% load static %}

{% block title %}Peddle Rider Login{% endblock %}

{% block page_content %}

<div class="form-container">
    <img src="{% static 'img/peddle-logo.png' %}" alt="Peddle logo">
    <h1>Rider Login</h1>
    
    <p></p>

    <form method="post">
        {% csrf_token %}
        {% with form.auth_code as field %}{% include 'form_field.html' %}{% endwith %}
        <input class="my-3 btn btn-primary" type="submit" name="submit" value="Login"/>
    </form>
</div>
{% endblock %}